.address{
    display: flex;
    align-items: center;
    justify-content: start;

}

.hero__address {
    font-size: rem(26px);
}

// .hero__address .address__text{

//     @include tablets{
//         width: 100%;
//         display: flex;
//         align-items: center;
//     }
// }

// .address-street{
//     @include tablets{
//         margin-right: rem(10px);
//     }
// }