.advantages__content{
    padding-top: rem(10px);
}
.advantages__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    width: rem(250px);
    text-align: center;
    margin: 0 rem(15px) rem(80px) rem(15px);

    @include phones{
        max-width: 40%;
    }

   
  
}

.advantage__title {
    font-weight: bold;
    font-size: 24px;
}

.advantage__image {
    position: relative;
    margin-bottom: 25px;
    width: 64px;
    height: 64px;

    &::before {
        position: absolute;
        content: '';
        width: 110px;
        height: 110px;
        background: $thirdColor;
        z-index: -1;
        border-radius: 100%;
        transform: translate(-55px, -22px);
    }
}

.advantage-img {
   widows: 100%;
   height: 100%;
}

