.button {
    min-width: rem(220px);
    min-height: rem(70px);
    background: $light;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 50px;
    font-size: 22px;

    &:hover{
    background: $dark;
    }
}