.button {
    min-width: rem(220px);
    min-height: rem(70px);
    background: $light;
    text-align: center;
    padding: 20px;
    // text-transform: uppercase;
    // font-weight: bold;
    color: #fff;
    border-radius: 50px;
    // box-shadow: 7px 5px 3px #808080;
    font-size: 22px;

    &:hover{
    background: $dark;
    }
}