.cars__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: rem(500px);
    text-align: center;
    padding: 10px;

}

.car__image {
    display: flex;
    align-items: center;
    width: rem(350px);
    height: 200px;

    // @include tablets{
    //     min-width: rem(250px);
    //     // height: auto;
    // }

    &--img {
        width: 100%;
    }
}

.car__name {
    font-size: rem(37px);
    font-weight: bold;
    text-transform: uppercase;
}

.car__size {
    &--desc {
        font-weight: bold;
    }
}

.car__addition {
    text-transform: uppercase;
    font-size: rem(24px);
}

