.cars__list {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: rem(500px);
    text-align: center;
    // line-height: 2;
}

.car__image {
    display: flex;
    align-items: center;
    min-width: rem(350px);
    min-height: rem(200px);

    @include tablets{
        min-width: rem(250px);
        height: auto;
    }

    &--img {
        width: auto;
        height: 100%;
    }
}

.car__name {
    font-size: rem(37px);
    font-weight: bold;
    text-transform: uppercase;
}

.car__size {
    &--desc {
        font-weight: bold;
    }
}

.car__addition {
    text-transform: uppercase;
    font-size: rem(24px);
}