.contact__content {
    display: flex;
    align-items: center;

    @include phones {
        flex-direction: column;
    }

}

.contact__image {
    width: rem(390px);
    height: rem(600px);
    margin-right: 20px;

    @include phones {
        width: rem(400px);
        height: rem(200px);
        margin-right: 0;
    }
}

.contact-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contact__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 390px;
    flex: 1;

    @include phones {
        align-items: center;

    }
}

.contact__list {
    background: $thirdColor;
    width: 100%;
    padding: rem(40px);
    font-size: rem(24px);
    margin-bottom: rem(20px);
}

.contact__item {
    margin-bottom: 20px;
}

.contact__inner-title {
    text-transform: uppercase;
    color: $dark;
    font-weight: bold;
    padding: rem(40px);
    font-size: rem(21px);
}

.contact__link {
    display: flex;
    align-items: center;
    font-size: rem(25px);

    &:hover {
        color: $light;
    }
}

.contact__icon {
    width: rem(36px);
    height: rem(36px);
    margin-right: rem(25px);
}

.contact-icon {
    width: 100%;
    height: 100%;
}

.contact__button {
    padding: 40px;
    text-align: right;

    @include phones{
        margin-bottom: 20px;
    }
}