.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    height: rem(66px);
    position: fixed;
    top: 0;
    width: 94%;
    max-width: $containerWidth;
    background-color: #fff;
    z-index: 1;

    // @include tablets{
    //     position: relative;
    //     width: auto;
    // }

}


.logo__img {
    width: 60px;
    height: auto;
}

.mail {

    margin-right: 10px;
}

.contact-mail {
    width: 30px;
    height: auto;
}