.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    height: rem(106px);
}

.logo__img {
    width: 60px;
    height: auto;
}

.mail {

    margin-right: 10px;
}

.contact-mail {
    width: 30px;
    height: auto;
}
