.section__hero{
    justify-content: start;
}


.hero__background {
    // background: $thirdColor;
    background-image:  
    linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(255,255,255,0) 65%),
    linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 60%)
    ,url('../img/sections/hero-background.jpg');
    
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;

    // padding: 2% 0;
    position: relative;
    // flex: 1;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 28px;
        background: $light;
        top: -14px;
        position: absolute;
    }
}

.language-img {
    height: 32px;
    width: 32px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(540px);
    width: 60%;

    @include tablets{
        width: 80%;
    }

    @include phones{
        width: 100%;
    }
}

.hero__content-inner {
    height: 100%;
    // flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.hero__text {
    font-size: rem(25px);
    padding-right: rem(30px);

}

.hero__description {
    font-size: rem(28px);
    margin-bottom: rem(20px);
    padding-right: rem(20px);

}

.hero__content-image {
    max-width: rem(430px);
    max-height: rem(430px);

}

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    min-width: rem(250px);
}