.hero {
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 85%),
        url("../img/background/hero_background.jpg") center center / cover no-repeat;
    color: $light;
    height: 100vh;
    position: relative;

    &:before {
        position: absolute;
        bottom: rem(-110px);
        right: 0;
        content: url("../img/decor/spark1.png");

        @include tablets{
            content: '';
        }
    }
}

.hero__title-name {
    font-size: rem(45px);
    font-weight: 500;
}


.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // -webkit-text-stroke: rem(1px) #000;

    @include tablets{
        flex-direction: column;
        justify-content: center;

    }
}

.hero__name {
    width: 35%;
    height: rem(200px);
    font-size: rem(65px);
    font-weight: 700;
    // background: radial-gradient(circle, rgba(0, 0, 0, .7) 10%, rgba(255, 255, 255, 0) 90%);
    background: url("../img/decor/hero_gradient1.png") center center no-repeat;

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: mymove 5s infinite;

    @include tablets{
        width: 90%;
    }
   
   
}

@keyframes mymove {
    50% {
        opacity: 0;
    }
}



.section__title-hero {
    color: $light;
    width: 43%;
    text-align: center;

    @include tablets{
        width: 95%;
    }
}

.hero__main-title {
    font-size: rem(48px);
    text-transform: uppercase;
    font-weight: bold;
}

.hero__title-description {
    font-size: rem(26px);
}

