.menu {
    width: 70%;

    @include tablets {
        margin: 0;
    }


}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        font-size: 19px;
        list-style: none;
        border: 1px solid $dark;
        padding: 0;
        color: $dark;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem(220px);
        margin-left: -16px;
        padding: 17px 0;
        text-transform: uppercase;
        line-height: 2em;
        background: #fff;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transform: translateX(-110%);
        transition: transform .2s;
        will-change: transform;
        backface-visibility: hidden;
        z-index: 9;
        height: 100vh;

    }
}

.menu__link {
    &:hover {
        color: $light;
    }

    @include tablets {
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

    }
}


.nav__check {
    display: none;
}

label {
    cursor: pointer;
}




.nav__showmenu {
    display: none;

    @include tablets {
        display: inline-block;
        position: relative;
        z-index: 10;
        padding: 5px 10px 10px;
        font-size: rem(50px);
    }
}


.menu::-webkit-scrollbar {
    display: none;
}

.nav__check:checked+.nav__showmenu {
    color: $light;
}

.menu__check:checked~.menu__submenu {
    max-height: 100vh;
}

.menu__check:checked+.menu__showsub {
    transform: rotate(180deg);
}

.nav__check:checked~.menu__list {
    transform: translateX(0);
}