.menu{
    width: 70%;
    
    

}
.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu__item{
    &:hover{
        color: $light;
    }
}