
.partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

   
}

.partners__item {
    width: 28%;
    margin: 0 rem(25px) rem(50px) rem(15px);

    &:last-child{
        margin-right: 0;
    }


    @include tablets {
        width: 40%;
    }

    // @include phones {
    //     width: 90%;
    //     margin-bottom: rem(30px);
    //     margin-right: 0;
    // }
}

.partners__img {
    max-width: 200px;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0);

    }

    @include tablets {
        filter: grayscale(0);
    }

    @include phones{
        width: 100px;
        height: auto;
    }
}