.partners__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item{
   width: 28%;

   @include tablets{
       width: 40%;
       margin-bottom: 15px;
   };
}
.partners__img{
    max-width: 200px;
    filter: grayscale(100%);

    &:hover{
    filter: grayscale(0);

    }
}