.section__services {
    // position: relative;
    // height: 100vh;
    height: auto;
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services__content {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-bottom: rem(15px);
    font-size: rem(20px);


    &-about {
        margin-right: 10px;
        min-width: rem(70px);
    }
}

.services__offers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(28px);
    font-weight: bold;
    color: #fff;
    flex-wrap: wrap;


    @include tablets {
        width: 90%;

    }

}

.services__offer {
    width: rem(235px);
    height: rem(235px);
    // background: $light;
    padding: rem(55px) rem(40px) 0 rem(35px);
    text-align: center;
    position: relative;
    background: $light;
    font-size: rem(25px);

    // transition: font-style 1s;
    &-text {
        &:hover {
            //    font-style: italic;
            transform: scale(1.2);
            // text-shadow: 3px 3px #fff;
        }

        @include tablets{
            &:hover{
                transform: none;
            }
        }
    }


    &:nth-child(3) {
        padding: rem(70px) rem(40px) 0 rem(35px);

    }

    // &::after {
    //     position: absolute;
    //     width: rem(235px);
    //     height: rem(235px);
    //     content: '';
    //     top: 0;
    //     right: 0;
    //     background: $light;  
    // }
    // &:hover::after{
    //     background: none;

    // }
}

.services__offer--even {
    // &::after {
    background: $dark;
    // }
}

.services__offer--active .services__offer-text {


    @include tablets {
        transform: scale(1.2);


    }

    // &::after {
    // position: absolute;
    // width: rem(235px);
    // height: rem(235px);
    // content: '';
    // top: 0;
    // right: 0;
    // background: none;

    // }
}


.services__help {
    margin-bottom: rem(15px);
}

// .services__offer-text {
//     font-size: rem(27px);
//     position: relative;
//     z-index: 1;
// }

// #services__loading {
//     background: url('../img/sections/services/loading.jpg') center center/100% auto no-repeat;
// }

// #services__map {
//     background: url('../img/sections/services/map.jpg') center center/100% auto no-repeat;
// }
// #services__truck {
//     background: url('../img/sections/services/truck.jpg') center center/100% auto no-repeat;
// }
// #services__weight {
//     background: url('../img/sections/services/weight.jpg') center center/auto 100% no-repeat;
// }



.services__offer-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.services__offer-image {
    padding: 5px;
}

.ellipse-img {
    width: 10px;
    height: 10px;
}

.services__offer-decor {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-bottom: 15px;
}