.bx-wrapper {
   width: rem(350px);
   height: 220px;
   // height: auto;
    // height: rem(200px);
    border: 0;
    // background: red;
    box-shadow: none;
   margin-bottom: rem(15px);

   @include tablets{
      height: auto;
  }
}
