.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__item {
    // position: relative;
    width: rem(30px);
    height: rem(30px);
    margin-right: 15px;

    &:last-child{
        margin: 0;
    }
}

.socials__link {
    position: absolute;
    display: block;
    text-decoration: none;
    text-align: center;
    width: rem(30px);
    height: rem(30px);

}

.socials__item--insta .socials__link {
    background-image: url("../img/icons/insta.svg");

    &:hover {
        background-image: url("../img/icons/insta-hover.svg");
    }
}

.socials__item--fb .socials__link {
    background-image: url("../img/icons/facebook.svg");

    &:hover {
        background-image: url("../img/icons/facebook-hover.svg");
    }
}

.socials__item--telegram .socials__link {
    background-image: url("../img/icons/tg.svg");

    &:hover {
        background-image: url("../img/icons/tg-hover.svg");
    }
}

.socials__item--whatsapp .socials__link {
    background-image: url("../img/icons/whatsapp.svg");

    &:hover {
        background-image: url("../img/icons/whatsapp-hover.svg");
    }
}