@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css");
html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

html,
body {
  height: 100%; }

body {
  background: #000000;
  font-family: 'Abhaya Libre', Arial, Helvetica, serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  min-width: 100%; }

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 85%), url("../img/background/hero_background.jpg") center center/cover no-repeat;
  color: #ffffff;
  height: 100vh;
  position: relative; }
  .hero:before {
    position: absolute;
    bottom: -6.1111111111rem;
    right: 0;
    content: url("../img/decor/spark1.png"); }
    @media screen and (max-width: 768px) {
      .hero:before {
        content: ''; } }

.hero__title-name {
  font-size: 2.5rem;
  font-weight: 500; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .hero__content {
      flex-direction: column;
      justify-content: center; } }

.hero__name {
  width: 35%;
  height: 11.1111111111rem;
  font-size: 3.6111111111rem;
  font-weight: 700;
  background: url("../img/decor/hero_gradient1.png") center center no-repeat;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: mymove 5s infinite; }
  @media screen and (max-width: 768px) {
    .hero__name {
      width: 90%; } }

@keyframes mymove {
  50% {
    opacity: 0; } }
.section__title-hero {
  color: #ffffff;
  width: 43%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .section__title-hero {
      width: 95%; } }

.hero__main-title {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: bold; }

.hero__title-description {
  font-size: 1.4444444444rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4444444444rem; }

.phone-number {
  text-decoration: none; }

.header__right-part {
  height: 2.2222222222rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: baseline;
  white-space: nowrap; }

@media screen and (max-width: 768px) {
  .header__right-part {
    display: none; } }

.address {
  display: flex;
  align-items: center;
  justify-content: start; }

.hero__address {
  font-size: 1.4444444444rem; }

section {
  height: auto;
  min-height: 100vh;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section__title {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 2.4444444444rem;
  color: #666666;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2.5rem;
  position: relative;
  margin-bottom: 1.9444444444rem; }
  .section__title::after {
    content: '';
    position: absolute;
    width: 13.8888888889rem;
    height: 0.1111111111rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0) 85%);
    bottom: 1.1111111111rem;
    left: 50%;
    transform: translate(-50%); }

.section__gallery {
  position: relative;
  padding: 2.5rem 0; }

.gallery-img {
  width: 11.1111111111rem;
  height: 11.1111111111rem;
  margin: 0.5555555556rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .gallery-img img {
    width: 100%;
    height: auto; }

.gallery-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0; }

.gallery-item {
  display: flex;
  flex: 25%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translate(-7%);
  text-align: center; }

.gallery-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8888888889rem;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2; }

.gallery-item:hover .gallery-item-hover {
  opacity: 1; }

.gallery-item:hover img {
  transform: scale(1.3) rotate(5deg); }

.gallery-item img {
  min-width: 5.5555555556rem;
  height: auto;
  transition: all .5s ease; }

@media (max-width: 991px) {
  .gallery-item {
    flex: 33.3%; } }
@media (max-width: 768px) {
  .gallery-item {
    flex: 50%; } }
footer {
  color: #ffffff;
  height: 8.3333333333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4444444444rem;
  flex-wrap: wrap; }

.footer__container {
  width: 100%;
  border-top: 0.0555555556rem solid rgba(102, 102, 102, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer__container--left {
    display: flex;
    align-items: center; }

.footer__logo {
  margin-right: 10%; }

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .footer__info {
      flex-direction: column; } }

.footer__contact {
  display: flex;
  flex-direction: column;
  margin-right: 10px; }
  @media screen and (max-width: 768px) {
    .footer__contact {
      margin-right: 0; } }

.footer__address {
  text-align: center;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__address {
      flex-direction: column; } }
  .footer__address .address-street {
    margin-right: 10px; }
    @media screen and (max-width: 768px) {
      .footer__address .address-street {
        margin-right: 0; } }

.footer__phone {
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__phone-icon {
    margin-right: 2%; }
  @media screen and (max-width: 768px) {
    .footer__phone {
      margin-bottom: 5px; } }

.phone-icon {
  width: 1rem;
  height: 1rem; }

.logo__img {
  max-width: 6.6666666667rem;
  max-height: 6.6666666667rem; }

.socials {
  display: flex;
  align-items: center;
  justify-content: center; }

.socials__item {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  margin-right: 15px; }
  .socials__item:last-child {
    margin: 0; }

.socials__link {
  position: absolute;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem; }

.socials__item--insta .socials__link {
  background-image: url("../img/icons/insta.svg"); }
  .socials__item--insta .socials__link:hover {
    background-image: url("../img/icons/insta-hover.svg"); }

.socials__item--fb .socials__link {
  background-image: url("../img/icons/facebook.svg"); }
  .socials__item--fb .socials__link:hover {
    background-image: url("../img/icons/facebook-hover.svg"); }

.socials__item--telegram .socials__link {
  background-image: url("../img/icons/tg.svg"); }
  .socials__item--telegram .socials__link:hover {
    background-image: url("../img/icons/tg-hover.svg"); }

.socials__item--whatsapp .socials__link {
  background-image: url("../img/icons/whatsapp.svg"); }
  .socials__item--whatsapp .socials__link:hover {
    background-image: url("../img/icons/whatsapp-hover.svg"); }

.dropdown {
  position: relative;
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  align-items: start; }

.dropdown__btn {
  height: 1.1111111111rem;
  font-size: 1rem; }

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(102, 102, 102, 0.3);
  min-width: 11.1111111111rem;
  z-index: 1;
  padding: 0.2777777778rem;
  border-radius: 5%; }

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center; }

.dropdown:hover .dropdown__btn {
  display: none; }

.dropdown-content__day {
  font-weight: 500; }

.bx-wrapper {
  background: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  border: none; }

.slider__item {
  min-height: auto;
  max-height: 38.8888888889rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.slider__image {
  overflow: hidden; }

.slider__descr {
  font-size: 1rem;
  text-align: center;
  max-height: 55px;
  padding: 8px; }

.slider__img {
  max-height: 38.8888888889rem;
  width: auto; }

.section__workers {
  height: 100vh;
  min-height: 38.8888888889rem; }

.workers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.workers--version--desktop {
  justify-content: center; }
  .workers--version--desktop .workers__content {
    position: absolute; }
  @media screen and (max-width: 768px) {
    .workers--version--desktop {
      display: none; } }

.workers--version--mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .workers--version--mobile {
      display: flex;
      flex-direction: column;
      padding: 0 10%; } }
  .workers--version--mobile .workers__item {
    margin-bottom: 10px; }
  .workers--version--mobile .workers__title {
    width: 100%; }

.workers__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 16.6666666667rem;
  position: relative; }
  .workers__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .workers__item {
      margin-right: 0; } }

.workers__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6111111111rem;
  height: 2.2222222222rem;
  font-size: 1.3333333333rem;
  color: #000000;
  background: #ffffff; }

.workers__content {
  color: #ffffff;
  overflow: hidden;
  height: 0;
  transition: height .3s;
  top: 100%; }

.workers__content-block {
  padding: 0 0.5555555556rem 0.5555555556rem 0.5555555556rem;
  background: rgba(102, 102, 102, 0.7); }
  @media screen and (max-width: 768px) {
    .workers__content-block {
      max-width: 250px; } }

@media screen and (max-width: 768px) {
  .workers__image {
    margin-bottom: 15px; } }

.workers__img {
  display: block;
  max-width: 100%; }

.workers__position {
  font-weight: bold;
  font-size: 1.2222222222rem; }

.menu {
  margin: 0 30px;
  user-select: none; }
  @media screen and (max-width: 768px) {
    .menu {
      margin: 0; } }

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .menu__list {
      flex-direction: column;
      list-style: none;
      padding: 0;
      color: #ffffff;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 12.2222222222rem;
      margin: 0;
      padding: 17px 0;
      text-transform: uppercase;
      line-height: 2em;
      background: #000000;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transform: translateX(100%);
      transition: transform .3s;
      will-change: transform;
      backface-visibility: hidden;
      z-index: 9;
      height: 100vh; } }

.menu__item {
  margin-right: 1.3888888889rem;
  position: relative; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item:hover:after {
    content: '';
    position: absolute;
    width: 150%;
    height: 0.1111111111rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0) 85%);
    left: 50%;
    transform: translate(-50%);
    margin-top: 2.2222222222rem; }
  @media screen and (max-width: 768px) {
    .menu__item {
      display: block;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      margin-right: 0; } }

.menu__link {
  text-decoration: none; }

.nav__check {
  display: none; }

label {
  cursor: pointer; }

.nav__showmenu {
  display: none; }
  @media screen and (max-width: 768px) {
    .nav__showmenu {
      display: inline-block;
      position: relative;
      z-index: 10;
      margin-left: -10px;
      padding: 5px 10px 10px;
      top: 2px;
      font-size: 2.7777777778rem; } }

.nav__check:checked ~ .nav__back {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0; }

@media screen and (max-width: 768px) {
  .menu__item:hover,
  .nav__showmenu:hover,
  .menu__showsub:hover {
    opacity: 0.7; } }

.menu::-webkit-scrollbar {
  display: none; }

.nav__check:checked + .nav__showmenu {
  color: #ffffff; }

.menu__check:checked ~ .menu__submenu {
  max-height: 100vh; }

.menu__check:checked + .menu__showsub {
  transform: rotate(180deg); }

.nav__check:checked ~ .menu__list {
  transform: translateX(0); }

.Main__Container-sc-1n4ud0o-0 a {
  display: none !important; }

.Carousel__CarouselOuter-sc-1y666a6-1 a {
  display: block !important; }
